{{set . "title" "BotHub"}}
{{template "partials/header.html" .}}
{{template "partials/app-header.html" .}}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div>以下のアカウントでログインちう</div>
      {{template "partials/account/big.html" .bot}}
    </div>
    <div class="col-md-6">
      {{if .masterAlreadyRegistered}}
        <div>登録されてるマスター</div>
        {{template "partials/account/big.html" .bot.Master}}
        <div class="btn-container alone">
          <form>
            <input type="submit" class="btn btn-default" value="マスターをリセット">
          </form>
        </div>
      {{else}}
        <div>マスターを登録</div>
        {{template "partials/account/choose-master.html"}}
      {{end}}
    </div>
  </div>
<div>

{{template "partials/footer.html" .}}
