<div class="row account-bar-container">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-3">
        <img class="img-rounded account-bar" title="{{.master.ScreenName}}" src="{{.master.ProfileImageUrl}}">
      </div>
      <div class="col-xs-6">
        {{template "partials/balloon.html" .}}
      </div>
      <div class="col-xs-3 ballooner-right">
        <img class="img-rounded account-bar" title="{{.bot.ScreenName}}" src="{{.bot.ProfileImageUrl}}">
      </div>
    </div>
  </div>
</div>
