h1 {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 5.5em;
    font-weight: bold;
}
h1>a, h1>a:hover {
    text-decoration: none;
    color:        inherit;
}

/* 一要素だけの全幅div */
div.col-md-12.single {
    padding-top: 24px;
    padding-bottom: 24px;
}

/* account/bit.htmlのなかのアイコン */
img.account-big {
    width: 300px;
}
/* account/bar.htmlのなかのアイコン */
img.account-bar {
    width: 60px;
}

/* 1ボタンだけの容れ物 */
div.btn-container.alone {
    padding-top: 24px;
    padding-bottom: 24px;    
}
/* パネルな中でform-controlはradiusしない */
.panel.queue > .form-control {
    border-radius: 0;
}
