h1 {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 5.5em;
    font-weight: bold;
}
h1>a, h1>a:hover {
    text-decoration: none;
    color:        inherit;
}

/* 一要素だけの全幅div */
div.col-md-12.single {
    padding-top: 24px;
    padding-bottom: 24px;
}

/* account/bit.htmlのなかのアイコン */
img.account-big {
    width: 50%;
}
/* account/barのコンテナ */
div.account-bar-container {
    padding-bottom: 10px;
}
/* account/bar.htmlのなかのアイコン */
img.account-bar {
    width: 60px;
}

/* 1ボタンだけの容れ物 */
div.btn-container.alone {
    padding-top: 24px;
    padding-bottom: 24px;    
}
/* パネルな中でform-controlはradiusしない */
.panel.queue > .form-control {
    border-radius: 0;
}
/** {{{ @吹き出し
 * Usage
 * <div class="balloon balloon-right">
 *   へいへい右から言うよ
 * </div>
 * <div class="balloon balloon-left">
 *   はいはい左から応えるよ
 * </div>
 */
.balloon {
    font-size: xx-small;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 4px;
    padding: 4px;
    position: relative;
    margin: 4px;
}
/* 左の吹き出し */
.balloon-left:after, .balloon-left:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.balloon-left:after {
    border-right-color: #fff;
    border-width:       4px;
    margin-top:        -4px;
}
.balloon-left:before {
    border-color:      #fff;
    border-right-color: #ddd;
    border-width:       5px;
    margin-top:        -5px;
}
/* 右の吹き出し */
.ballooner-right {
    padding-left: 0;
}
.balloon-right:after, .balloon-right:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.balloon-right:after {
    border-left-color: #fff;
    border-width:       4px;
    margin-top:        -4px;
}
.balloon-right:before {
    border-color:      #fff;
    border-left-color: #ddd;
    border-width:       5px;
    margin-top:        -5px;
}
/* 色 */
.balloon.bg-success {
    background-color: #dff0d8;
}
.balloon-left.bg-success:after, .balloon-right.bg-success:after {
    border-left-color: #dff0d8;
}
.balloon.bg-warning {
    background-color: #fcf8e3;
}
.balloon-left.bg-warning:after, .balloon-right.bg-warning:after {
    border-left-color: #fcf8e3;
}
/* @吹き出し }}} */
