<div class="col-md-6">
  <legend>あんまり需要あるとも思わないんですけど、<br>あなただけの通知してくれるbotちゃんをつくれます</legend>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="/public/img/carousel/step1.png" alt="step1) Twitterアカウントを2つ用意します">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <img src="/public/img/carousel/step2.png" alt="Botでログインしてマスター登録します">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <img src="/public/img/carousel/step3.png" alt="Masterでログインすれば通知をお願いできます">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
  
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"></a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"></a>
  </div>
</div>
