{{set . "title" "BotHub"}}
{{template "partials/header.html" .}}
{{template "partials/app-header.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "partials/flash.html" .}}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {{if .loginedAsMaster}}
      <div class="col-md-6">
        {{template "partials/account/bar.html" .}}
      </div>
      <div class="col-md-6">
        {{template "partials/queue/create-form.html"}}
      </div>
    {{else}}
        {{template "partials/tutorial.html"}}
    {{end}}
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="btn-container alone">
        <a href="/bot/login" class="btn btn-default">Botとしてログイン</a>
      </div>
    </div>
    <div class="col-xs-6">
      {{template "partials/account/login-out.html" .}}
    </div>
  </div>
<div>

{{template "partials/footer.html" .}}
