<form role="form" method="POST" action="/queue/add">
  <div class="panel panel-default queue">
    <div class="panel-heading">日時</div>
    <input type="datetime-local" class="panel-body form-control" name="finish" placeholder="Username">
    <div class="panel-heading">内容</div>
    <textarea class="panel-body form-control" placeholder="通知したい内容を入力" name="text"></textarea>
    <div class="panel-body text-center">
      <input type="submit" class="btn btn-success" value="これで登録">
    </div>
  </div>
</form>
